dynamicwebserviceinvocationformetro/WSDLS/xmethodwebservicewsdls-part1/whois_service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.ecubicle.net/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.ecubicle.net/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ecubicle.net/webservices/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Whois">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="servername" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="port" type="s:unsignedByte" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WhoisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WhoisResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="WhoisSoapIn">
    <wsdl:part name="parameters" element="tns:Whois" />
  </wsdl:message>
  <wsdl:message name="WhoisSoapOut">
    <wsdl:part name="parameters" element="tns:WhoisResponse" />
  </wsdl:message>
  <wsdl:portType name="whois_serviceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Whois">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Whois service lets users get domain information from any registry. &lt;br/&gt;&lt;h4&gt; Servername&lt;/h4&gt; is the whois server to be used.&lt;br/&gt;Some commonly queried whois servers are: &lt;br/&gt;&lt;ul&gt;&lt;li&gt;whois.networksolutions.com&lt;/li&gt;&lt;li&gt;whois.35.com&lt;/li&gt;&lt;li&gt;whois.tucows.com&lt;/li&gt;&lt;/ul&gt; &lt;br/&gt;&lt;br/&gt;&lt;h4&gt; Port &lt;/h4&gt;is always 43 for whois servers. &lt;br/&gt;&lt;br/&gt;&lt;h4&gt;Domain &lt;/h4&gt;&lt;br/&gt;is the domain name that you want to query.</wsdl:documentation>
      <wsdl:input message="tns:WhoisSoapIn" />
      <wsdl:output message="tns:WhoisSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="whois_serviceSoap" type="tns:whois_serviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://www.ecubicle.net/webservices/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Whois">
      <soap:operation soapAction="http://www.ecubicle.net/webservices/Whois" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="whois_serviceSoap12" type="tns:whois_serviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://www.ecubicle.net/webservices/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Whois">
      <soap12:operation soapAction="http://www.ecubicle.net/webservices/Whois" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="whois_service">
    <wsdl:port name="whois_serviceSoap" binding="tns:whois_serviceSoap">
      <soap:address location="http://www.ecubicle.net/whois_service.asmx" />
    </wsdl:port>
    <wsdl:port name="whois_serviceSoap12" binding="tns:whois_serviceSoap12">
      <soap12:address location="http://www.ecubicle.net/whois_service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>