dynamicwebserviceinvocationformetro/WSDLS/xmethodwebservicewsdls-part1/youtubedownloader.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.ecubicle.net/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.ecubicle.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ecubicle.net/">
      <s:element name="GetDownloadURL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileURL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDownloadURLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDownloadURLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDownloadURLSoapIn">
    <wsdl:part name="parameters" element="tns:GetDownloadURL" />
  </wsdl:message>
  <wsdl:message name="GetDownloadURLSoapOut">
    <wsdl:part name="parameters" element="tns:GetDownloadURLResponse" />
  </wsdl:message>
  <wsdl:portType name="YouTubeDownloaderSoap">
    <wsdl:operation name="GetDownloadURL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Input required: the video URL of YouTube video. This is the URL that is seen in the addressbar when viewing a video. The return value contains the YouTube Download URL. It is upto the application to access this URL from code and save the file to disk or server. In .NET, this can be accomplised by using the webclient class and passing in the download URL and and an output file with .FLV extension</wsdl:documentation>
      <wsdl:input message="tns:GetDownloadURLSoapIn" />
      <wsdl:output message="tns:GetDownloadURLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="YouTubeDownloaderSoap" type="tns:YouTubeDownloaderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDownloadURL">
      <soap:operation soapAction="http://www.ecubicle.net/GetDownloadURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="YouTubeDownloaderSoap12" type="tns:YouTubeDownloaderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDownloadURL">
      <soap12:operation soapAction="http://www.ecubicle.net/GetDownloadURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YouTubeDownloader">
    <wsdl:port name="YouTubeDownloaderSoap" binding="tns:YouTubeDownloaderSoap">
      <soap:address location="http://www.ecubicle.net/youtubedownloader.asmx" />
    </wsdl:port>
    <wsdl:port name="YouTubeDownloaderSoap12" binding="tns:YouTubeDownloaderSoap12">
      <soap12:address location="http://www.ecubicle.net/youtubedownloader.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>