dynamicwebserviceinvocationformetro/WSDLS/cdyne_wsdls/Default.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.cdyne.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://ws.cdyne.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.cdyne.com/">
      <s:element name="ReversePhone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReversePhoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReversePhoneResult" type="tns:DirectoryResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DirectoryResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfDirectoryRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDirectoryRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DirectoryRecord" nillable="true" type="tns:DirectoryRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DirectoryRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleInitial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BusinessName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PhoneAppend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FullAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PhoneAppendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PhoneAppendResult" type="tns:DirectoryResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusinessAppend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusinessName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FullAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusinessAppendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusinessAppendResult" type="tns:DirectoryResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DirectoryResult" nillable="true" type="tns:DirectoryResult" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReversePhoneSoapIn">
    <wsdl:part name="parameters" element="tns:ReversePhone" />
  </wsdl:message>
  <wsdl:message name="ReversePhoneSoapOut">
    <wsdl:part name="parameters" element="tns:ReversePhoneResponse" />
  </wsdl:message>
  <wsdl:message name="PhoneAppendSoapIn">
    <wsdl:part name="parameters" element="tns:PhoneAppend" />
  </wsdl:message>
  <wsdl:message name="PhoneAppendSoapOut">
    <wsdl:part name="parameters" element="tns:PhoneAppendResponse" />
  </wsdl:message>
  <wsdl:message name="BusinessAppendSoapIn">
    <wsdl:part name="parameters" element="tns:BusinessAppend" />
  </wsdl:message>
  <wsdl:message name="BusinessAppendSoapOut">
    <wsdl:part name="parameters" element="tns:BusinessAppendResponse" />
  </wsdl:message>
  <wsdl:message name="ReversePhoneHttpGetIn">
    <wsdl:part name="PhoneNumber" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReversePhoneHttpGetOut">
    <wsdl:part name="Body" element="tns:DirectoryResult" />
  </wsdl:message>
  <wsdl:message name="PhoneAppendHttpGetIn">
    <wsdl:part name="FirstName" type="s:string" />
    <wsdl:part name="LastName" type="s:string" />
    <wsdl:part name="FullAddress" type="s:string" />
    <wsdl:part name="City" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="Zip" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PhoneAppendHttpGetOut">
    <wsdl:part name="Body" element="tns:DirectoryResult" />
  </wsdl:message>
  <wsdl:message name="BusinessAppendHttpGetIn">
    <wsdl:part name="BusinessName" type="s:string" />
    <wsdl:part name="FullAddress" type="s:string" />
    <wsdl:part name="City" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="Zip" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BusinessAppendHttpGetOut">
    <wsdl:part name="Body" element="tns:DirectoryResult" />
  </wsdl:message>
  <wsdl:message name="ReversePhoneHttpPostIn">
    <wsdl:part name="PhoneNumber" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReversePhoneHttpPostOut">
    <wsdl:part name="Body" element="tns:DirectoryResult" />
  </wsdl:message>
  <wsdl:message name="PhoneAppendHttpPostIn">
    <wsdl:part name="FirstName" type="s:string" />
    <wsdl:part name="LastName" type="s:string" />
    <wsdl:part name="FullAddress" type="s:string" />
    <wsdl:part name="City" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="Zip" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PhoneAppendHttpPostOut">
    <wsdl:part name="Body" element="tns:DirectoryResult" />
  </wsdl:message>
  <wsdl:message name="BusinessAppendHttpPostIn">
    <wsdl:part name="BusinessName" type="s:string" />
    <wsdl:part name="FullAddress" type="s:string" />
    <wsdl:part name="City" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="Zip" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BusinessAppendHttpPostOut">
    <wsdl:part name="Body" element="tns:DirectoryResult" />
  </wsdl:message>
  <wsdl:portType name="Cdyne411Soap">
    <wsdl:operation name="ReversePhone">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reverse Phone Lookup.&lt;br/&gt;&lt;b&gt;Required:&lt;/b&gt;10 digit Phone&lt;br/&gt;</wsdl:documentation>
      <wsdl:input message="tns:ReversePhoneSoapIn" />
      <wsdl:output message="tns:ReversePhoneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PhoneAppend">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Phone Append Lookup.&lt;br/&gt;&lt;b&gt;Required:&lt;/b&gt;	FirstName and LastName, &lt;br/&gt;&lt;b&gt;Required:&lt;/b&gt;	FullAddress, State/Province, &lt;br/&gt;&lt;b&gt;Required:&lt;/b&gt;	City, ZIP/Postal Code</wsdl:documentation>
      <wsdl:input message="tns:PhoneAppendSoapIn" />
      <wsdl:output message="tns:PhoneAppendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusinessAppend">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Business Append Lookup.&lt;br/&gt;&lt;b&gt;Required:&lt;/b&gt;	BusinessName, &lt;br/&gt;&lt;b&gt;Required:&lt;/b&gt;	FullAddress, State/Province, &lt;br/&gt;&lt;b&gt;Required:&lt;/b&gt;	City, ZIP/Postal Code</wsdl:documentation>
      <wsdl:input message="tns:BusinessAppendSoapIn" />
      <wsdl:output message="tns:BusinessAppendSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Cdyne411HttpGet">
    <wsdl:operation name="ReversePhone">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reverse Phone Lookup.&lt;br/&gt;&lt;b&gt;Required:&lt;/b&gt;10 digit Phone&lt;br/&gt;</wsdl:documentation>
      <wsdl:input message="tns:ReversePhoneHttpGetIn" />
      <wsdl:output message="tns:ReversePhoneHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PhoneAppend">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Phone Append Lookup.&lt;br/&gt;&lt;b&gt;Required:&lt;/b&gt;	FirstName and LastName, &lt;br/&gt;&lt;b&gt;Required:&lt;/b&gt;	FullAddress, State/Province, &lt;br/&gt;&lt;b&gt;Required:&lt;/b&gt;	City, ZIP/Postal Code</wsdl:documentation>
      <wsdl:input message="tns:PhoneAppendHttpGetIn" />
      <wsdl:output message="tns:PhoneAppendHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BusinessAppend">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Business Append Lookup.&lt;br/&gt;&lt;b&gt;Required:&lt;/b&gt;	BusinessName, &lt;br/&gt;&lt;b&gt;Required:&lt;/b&gt;	FullAddress, State/Province, &lt;br/&gt;&lt;b&gt;Required:&lt;/b&gt;	City, ZIP/Postal Code</wsdl:documentation>
      <wsdl:input message="tns:BusinessAppendHttpGetIn" />
      <wsdl:output message="tns:BusinessAppendHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Cdyne411HttpPost">
    <wsdl:operation name="ReversePhone">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reverse Phone Lookup.&lt;br/&gt;&lt;b&gt;Required:&lt;/b&gt;10 digit Phone&lt;br/&gt;</wsdl:documentation>
      <wsdl:input message="tns:ReversePhoneHttpPostIn" />
      <wsdl:output message="tns:ReversePhoneHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PhoneAppend">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Phone Append Lookup.&lt;br/&gt;&lt;b&gt;Required:&lt;/b&gt;	FirstName and LastName, &lt;br/&gt;&lt;b&gt;Required:&lt;/b&gt;	FullAddress, State/Province, &lt;br/&gt;&lt;b&gt;Required:&lt;/b&gt;	City, ZIP/Postal Code</wsdl:documentation>
      <wsdl:input message="tns:PhoneAppendHttpPostIn" />
      <wsdl:output message="tns:PhoneAppendHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BusinessAppend">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Business Append Lookup.&lt;br/&gt;&lt;b&gt;Required:&lt;/b&gt;	BusinessName, &lt;br/&gt;&lt;b&gt;Required:&lt;/b&gt;	FullAddress, State/Province, &lt;br/&gt;&lt;b&gt;Required:&lt;/b&gt;	City, ZIP/Postal Code</wsdl:documentation>
      <wsdl:input message="tns:BusinessAppendHttpPostIn" />
      <wsdl:output message="tns:BusinessAppendHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Cdyne411Soap" type="tns:Cdyne411Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReversePhone">
      <soap:operation soapAction="http://ws.cdyne.com/ReversePhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PhoneAppend">
      <soap:operation soapAction="http://ws.cdyne.com/PhoneAppend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusinessAppend">
      <soap:operation soapAction="http://ws.cdyne.com/BusinessAppend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Cdyne411Soap12" type="tns:Cdyne411Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReversePhone">
      <soap12:operation soapAction="http://ws.cdyne.com/ReversePhone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PhoneAppend">
      <soap12:operation soapAction="http://ws.cdyne.com/PhoneAppend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusinessAppend">
      <soap12:operation soapAction="http://ws.cdyne.com/BusinessAppend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Cdyne411HttpGet" type="tns:Cdyne411HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ReversePhone">
      <http:operation location="/ReversePhone" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PhoneAppend">
      <http:operation location="/PhoneAppend" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusinessAppend">
      <http:operation location="/BusinessAppend" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Cdyne411HttpPost" type="tns:Cdyne411HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ReversePhone">
      <http:operation location="/ReversePhone" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PhoneAppend">
      <http:operation location="/PhoneAppend" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusinessAppend">
      <http:operation location="/BusinessAppend" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cdyne411">
    <wsdl:port name="Cdyne411Soap" binding="tns:Cdyne411Soap">
      <soap:address location="http://ws.cdyne.com/cdyne411ws20/Default.asmx" />
    </wsdl:port>
    <wsdl:port name="Cdyne411Soap12" binding="tns:Cdyne411Soap12">
      <soap12:address location="http://ws.cdyne.com/cdyne411ws20/Default.asmx" />
    </wsdl:port>
    <wsdl:port name="Cdyne411HttpGet" binding="tns:Cdyne411HttpGet">
      <http:address location="http://ws.cdyne.com/cdyne411ws20/Default.asmx" />
    </wsdl:port>
    <wsdl:port name="Cdyne411HttpPost" binding="tns:Cdyne411HttpPost">
      <http:address location="http://ws.cdyne.com/cdyne411ws20/Default.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>