dynamicwebserviceinvocationformetro/WSDLS/xmethodwebservicewsdls-part2/SMS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sjmillerconsultants.com/webservices" xmlns:s1="http://sjmillerconsultants.com/sms/send" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://sjmillerconsultants.com/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sjmillerconsultants.com/webservices">
      <s:import namespace="http://sjmillerconsultants.com/sms/send" />
      <s:element name="QuickSend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:SMSRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuickSendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:SMSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthorizationHeader" type="tns:AuthorizationHeader" />
      <s:complexType name="AuthorizationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SessionKey" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="Send">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCreditBalance">
        <s:complexType />
      </s:element>
      <s:element name="GetCreditBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCreditBalanceResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessageRecipientStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserMessageId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Recipient" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessageRecipientStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMessageRecipientStatusResult" type="tns:SMSRecipientStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SMSRecipientStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Recipient" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Sent" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageStatus" type="tns:MessageStatus" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MessageStatus">
        <s:restriction base="s:string">
          <s:enumeration value="MessageUnknown" />
          <s:enumeration value="MessageQueued" />
          <s:enumeration value="MessageDelivered" />
          <s:enumeration value="MessageReceived" />
          <s:enumeration value="MessageError" />
          <s:enumeration value="MessageCancelled" />
          <s:enumeration value="MessageDeliveryError" />
          <s:enumeration value="MessageOK" />
          <s:enumeration value="MessageRoutingError" />
          <s:enumeration value="MessageExpired" />
          <s:enumeration value="MessageQueuedForLaterDelivery" />
          <s:enumeration value="MessageNotYetAvailable" />
        </s:restriction>
      </s:simpleType>
      <s:element name="IsSenderIdAvailable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SenderId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsSenderIdAvailableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsSenderIdAvailableResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sjmillerconsultants.com/sms/send">
      <s:element name="SMSRequest" type="s1:SMSRequest" />
      <s:complexType name="SMSRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Unicode" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageType" type="s1:MessageType" />
          <s:element minOccurs="0" maxOccurs="1" name="Recipients" type="s1:ArrayOfSMSRecipient" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MessageType">
        <s:restriction base="s:string">
          <s:enumeration value="Text" />
          <s:enumeration value="FlashText" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfSMSRecipient">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Recipient" nillable="true" type="s1:SMSRecipient" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SMSRecipient">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SMSResponse" type="s1:SMSResponse" />
      <s:complexType name="SMSResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserMessageId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Credits" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Units" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Recipients" type="s1:ArrayOfSMSRecipientResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSMSRecipientResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Recipient" nillable="true" type="s1:SMSRecipientResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SMSRecipientResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QuickSendSoapIn">
    <wsdl:part name="parameters" element="tns:QuickSend" />
  </wsdl:message>
  <wsdl:message name="QuickSendSoapOut">
    <wsdl:part name="parameters" element="tns:QuickSendResponse" />
  </wsdl:message>
  <wsdl:message name="QuickSendAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="SendSoapIn">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:message name="SendSoapOut">
    <wsdl:part name="parameters" element="tns:SendResponse" />
  </wsdl:message>
  <wsdl:message name="SendAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="GetCreditBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:GetCreditBalance" />
  </wsdl:message>
  <wsdl:message name="GetCreditBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:GetCreditBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="GetCreditBalanceAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="GetMessageRecipientStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessageRecipientStatus" />
  </wsdl:message>
  <wsdl:message name="GetMessageRecipientStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessageRecipientStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessageRecipientStatusAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="IsSenderIdAvailableSoapIn">
    <wsdl:part name="parameters" element="tns:IsSenderIdAvailable" />
  </wsdl:message>
  <wsdl:message name="IsSenderIdAvailableSoapOut">
    <wsdl:part name="parameters" element="tns:IsSenderIdAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IsSenderIdAvailableAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:portType name="SMSSoap">
    <wsdl:operation name="QuickSend">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Allows you to send a single SMS message instantly to many recipients.</wsdl:documentation>
      <wsdl:input message="tns:QuickSendSoapIn" />
      <wsdl:output message="tns:QuickSendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Send">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Allows you to send multiple SMS messages, each with its own optional delivery time, to many recipients. String interface for non .Net clients.</wsdl:documentation>
      <wsdl:input message="tns:SendSoapIn" />
      <wsdl:output message="tns:SendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCreditBalance">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the number of credits remaining.</wsdl:documentation>
      <wsdl:input message="tns:GetCreditBalanceSoapIn" />
      <wsdl:output message="tns:GetCreditBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessageRecipientStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the status of a message for a specified recipient number and user phone message id.</wsdl:documentation>
      <wsdl:input message="tns:GetMessageRecipientStatusSoapIn" />
      <wsdl:output message="tns:GetMessageRecipientStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsSenderIdAvailable">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a boolean confirming whether a SenderId is available.</wsdl:documentation>
      <wsdl:input message="tns:IsSenderIdAvailableSoapIn" />
      <wsdl:output message="tns:IsSenderIdAvailableSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SMSSoap" type="tns:SMSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QuickSend">
      <soap:operation soapAction="http://sjmillerconsultants.com/webservices/QuickSend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QuickSendAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:QuickSendAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send">
      <soap:operation soapAction="http://sjmillerconsultants.com/webservices/Send" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SendAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SendAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditBalance">
      <soap:operation soapAction="http://sjmillerconsultants.com/webservices/GetCreditBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCreditBalanceAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetCreditBalanceAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageRecipientStatus">
      <soap:operation soapAction="http://sjmillerconsultants.com/webservices/GetMessageRecipientStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetMessageRecipientStatusAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetMessageRecipientStatusAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsSenderIdAvailable">
      <soap:operation soapAction="http://sjmillerconsultants.com/webservices/IsSenderIdAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:IsSenderIdAvailableAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:IsSenderIdAvailableAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSSoap12" type="tns:SMSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QuickSend">
      <soap12:operation soapAction="http://sjmillerconsultants.com/webservices/QuickSend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QuickSendAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:QuickSendAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send">
      <soap12:operation soapAction="http://sjmillerconsultants.com/webservices/Send" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SendAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:SendAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditBalance">
      <soap12:operation soapAction="http://sjmillerconsultants.com/webservices/GetCreditBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCreditBalanceAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCreditBalanceAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageRecipientStatus">
      <soap12:operation soapAction="http://sjmillerconsultants.com/webservices/GetMessageRecipientStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetMessageRecipientStatusAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetMessageRecipientStatusAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsSenderIdAvailable">
      <soap12:operation soapAction="http://sjmillerconsultants.com/webservices/IsSenderIdAvailable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsSenderIdAvailableAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:IsSenderIdAvailableAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMS">
    <wsdl:port name="SMSSoap" binding="tns:SMSSoap">
      <soap:address location="http://www.abctext.com/webservices/SMS.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSSoap12" binding="tns:SMSSoap12">
      <soap12:address location="http://www.abctext.com/webservices/SMS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>