dynamicwebserviceinvocationformetro/WSDLS/sampleswsdls/orgservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://service.org/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://server.webservice.ddlab.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.org/">
    <wsdl:documentation>orgservice</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax22="http://server.webservice.ddlab.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.org/xsd">
            <xs:import namespace="http://server.webservice.ddlab.com/xsd"/>
            <xs:element name="getInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="org" nillable="true" type="ax22:Organisation"/>
                        <xs:element minOccurs="0" name="proj" nillable="true" type="ax22:Project"/>
                        <xs:element minOccurs="0" name="age" type="xs:int"/>
                        <xs:element minOccurs="0" name="salary" type="xs:float"/>
                        <xs:element minOccurs="0" name="someValue" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Organisation"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEmployeeInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="emp" nillable="true" type="ax22:Employee"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEmployeeInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Employee"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEmp">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="emp" nillable="true" type="ax22:Employee"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEmpResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Employee"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://server.webservice.ddlab.com/xsd">
            <xs:complexType name="Organisation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="emp" nillable="true" type="ax21:Employee"/>
                    <xs:element minOccurs="0" name="location" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Employee">
                <xs:sequence>
                    <xs:element minOccurs="0" name="adrs" nillable="true" type="ax21:Address"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="salary" type="xs:float"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Address">
                <xs:sequence>
                    <xs:element minOccurs="0" name="permanetAdrs" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="temporaryAdrs" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Project">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cost" type="xs:double"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resourceCost" type="xs:float"/>
                    <xs:element minOccurs="0" name="size" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getEmpRequest">
        <wsdl:part name="parameters" element="ns:getEmp"/>
    </wsdl:message>
    <wsdl:message name="getEmpResponse">
        <wsdl:part name="parameters" element="ns:getEmpResponse"/>
    </wsdl:message>
    <wsdl:message name="getEmployeeInfoRequest">
        <wsdl:part name="parameters" element="ns:getEmployeeInfo"/>
    </wsdl:message>
    <wsdl:message name="getEmployeeInfoResponse">
        <wsdl:part name="parameters" element="ns:getEmployeeInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="getInfoRequest">
        <wsdl:part name="parameters" element="ns:getInfo"/>
    </wsdl:message>
    <wsdl:message name="getInfoResponse">
        <wsdl:part name="parameters" element="ns:getInfoResponse"/>
    </wsdl:message>
    <wsdl:portType name="orgservicePortType">
        <wsdl:operation name="getEmp">
            <wsdl:input message="axis2:getEmpRequest" wsaw:Action="urn:getEmp"/>
            <wsdl:output message="axis2:getEmpResponse" wsaw:Action="urn:getEmpResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getEmployeeInfo">
            <wsdl:input message="axis2:getEmployeeInfoRequest" wsaw:Action="urn:getEmployeeInfo"/>
            <wsdl:output message="axis2:getEmployeeInfoResponse" wsaw:Action="urn:getEmployeeInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getInfo">
            <wsdl:input message="axis2:getInfoRequest" wsaw:Action="urn:getInfo"/>
            <wsdl:output message="axis2:getInfoResponse" wsaw:Action="urn:getInfoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="orgserviceSoap11Binding" type="axis2:orgservicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getEmp">
            <soap:operation soapAction="urn:getEmp" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmployeeInfo">
            <soap:operation soapAction="urn:getEmployeeInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInfo">
            <soap:operation soapAction="urn:getInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="orgserviceSoap12Binding" type="axis2:orgservicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getEmp">
            <soap12:operation soapAction="urn:getEmp" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmployeeInfo">
            <soap12:operation soapAction="urn:getEmployeeInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInfo">
            <soap12:operation soapAction="urn:getInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="orgserviceHttpBinding" type="axis2:orgservicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getEmp">
            <http:operation location="orgservice/getEmp"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getEmp"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getEmp"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmployeeInfo">
            <http:operation location="orgservice/getEmployeeInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getEmployeeInfo"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getEmployeeInfo"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInfo">
            <http:operation location="orgservice/getInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getInfo"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getInfo"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="orgservice">
        <wsdl:port name="orgserviceHttpSoap11Endpoint" binding="axis2:orgserviceSoap11Binding">
            <soap:address location="http://localhost:8080/orgservice/services/orgservice.orgserviceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="orgserviceHttpSoap12Endpoint" binding="axis2:orgserviceSoap12Binding">
            <soap12:address location="http://localhost:8080/orgservice/services/orgservice.orgserviceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="orgserviceHttpEndpoint" binding="axis2:orgserviceHttpBinding">
            <http:address location="http://localhost:8080/orgservice/services/orgservice.orgserviceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
